.bar-label {
  fill: blue; /* Changez cette couleur en fonction de vos préférences */
  font-size: 12px; /* Définissez la taille de la police */
  text-anchor: middle; /* Centrez le texte par rapport à son point d'ancrage */
}
